@import "../../../styles/_shared.scss";

.main-screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(180deg, #0a0a0a, $background-dark);
  overflow: hidden; // Remove rolagem interna
  color: $primary-color;

  .top-section,
  .bottom-section {
    flex-shrink: 0; // Impede que se redimensionem
    padding: 1rem;
  }

  .top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: $background-dark; // Usando variável global
    box-shadow: $box-shadow; // Linha sutil para separação
    font-size: 1.2rem;
    color: $primary-color; // Texto amarelo

    .game-date,
    .real-life-balance,
    .investment-balance {
      flex: 1;
      text-align: center;
      @include text-style(1rem, $primary-color, bold);
    }
  }

  .middle-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; // Ocupa todo o espaço vertical disponível
    padding: 2rem;

    .bitcoin-chart {
      width: 80%;
      max-width: 600px;
      height: 300px;
      background: $text-color-dark; // Fundo do gráfico
      border: 2px solid $primary-color; // Borda em amarelo
      border-radius: 12px;
      box-shadow: $box-shadow; // Profundidade
      display: flex;
      justify-content: center;
      align-items: center;
      color: $text-color-light; // Texto interno branco para placeholder
    }
  }

  .bottom-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: $background-dark; // Combina com o topo
    box-shadow: $box-shadow; // Linha superior para separação

    // Adiciona margem extra para evitar a sobreposição
    margin-bottom: calc(
      env(safe-area-inset-bottom) + 4rem
    ); // Adiciona a área segura do iOS

    .pause-button {
      @include button-style(
        $primary-color,
        $background-dark,
        darken($primary-color, 10%)
      ); // Botão reutilizando o mixin
      font-size: 1.5rem;
      border-radius: 25px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

      &:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
        transform: scale(1.05); // Efeito de hover
      }

      &:active {
        transform: scale(0.95);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
      }
    }

    .event-button-temp {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      @include button-style(
        $secondary-color,
        $text-color-light,
        darken($secondary-color, 10%)
      ); // Botão temporário reutilizando o mixin
      font-size: 1rem;
      border-radius: 5px;
    }
  }

  @media (max-width: 768px) {
    .top-section {
      font-size: 1rem;
      padding: 0.8rem 1.5rem;
    }

    .middle-section {
      .bitcoin-chart {
        width: 90%;
        height: 250px;
      }
    }

    .bottom-section .pause-button {
      font-size: 1.2rem;
      padding: 0.8rem 1.6rem;
    }
  }
}
